@media all {
.wrapping-col > .amend-booking-margins,
.wrapping-col > .afScrollPanel > .amend-booking-margins {  margin-left:30px;
  margin-right:0px;
}

.wrapping-col > .amend-booking-margins,
.wrapping-col > .afScrollPanel > .amend-booking-margins {  margin-left:30px;
  margin-right:0px;
}

.amend-booking-margins {  margin-top:10px;
}

}

