@media all {
.wrapping-col > .card-margins,
.wrapping-col > .afScrollPanel > .card-margins {  margin-left:0px;
  margin-right:0px;
}

.wrapping-col > .card-margins,
.wrapping-col > .afScrollPanel > .card-margins {  margin-left:0px;
  margin-right:0px;
}

}

