@media all {
.input-text input,
.input-text textarea,
.input-text ::-webkit-input-placeholder {  color:#000000;
  font-family:serif;
}

.input-text input,
.input-text textarea,
.input-text ::-webkit-input-placeholder {  color:#000000;
  font-family:serif;
}

.input-text input,
.input-text textarea,
.input-text ::-webkit-input-placeholder {  color:#000000;
  font-family:serif;
}

}

