/*
	.input-field-style > .narrow-control - affects control label
	.input-field-style > .wide-control - affects input
*/
.input-field-style{

 border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
   //-moz-transition: padding .05s;
    //-webkit-transition: padding .05s;
    //-o-transition: padding .05s;
    //transition: padding .05s;
}
.input-field-style:focus{
 background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa; 
//padding-right:70px;
}
