/*
	.placeholder-text > .narrow-control - affects control label
	.placeholder-text > .wide-control - affects input
*/
.placeholder-text {
::-webkit-input-placeholder {
   color: white;
}
  :-moz-placeholder {
  color: white;
  }
}