@media all {
.wrapping-col > .range-slider-margin,
.wrapping-col > .afScrollPanel > .range-slider-margin {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .range-slider-margin,
.wrapping-col > .afScrollPanel > .range-slider-margin {  margin-left:6px;
  margin-right:6px;
}

.range-slider-margin {  margin-bottom:40px;
}

}

