@media all {
.wrapping-col > .next-page,
.wrapping-col > .afScrollPanel > .next-page {  margin-left:6px;
  margin-right:6px;
}

.wrapping-col > .next-page,
.wrapping-col > .afScrollPanel > .next-page {  margin-left:26px;
  margin-right:6px;
}

}

