        <div class="upage" id="account-page">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_26" data-uib="layout/header" data-ver="0">
                    <h2>Car Booking</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button class="btn widget uib_w_27 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col">
                    <div class="table-thing widget uib_w_13 d-margins" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="narrow-control label-inline">From</label>
                        <select class="wide-control form-control default">
                            <option>Alaska</option>
                            <option>Citadel</option>
                            <option>Hawai</option>
                            <option>Chicago</option>
                            <option>Canada</option>
                            <option>India</option>
                        </select>
                    </div>
                    <div class="table-thing widget uib_w_14 d-margins" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="narrow-control label-inline">To</label>
                        <select class="wide-control form-control default">
                            <option>Chicago</option>
                            <option>Alaska</option>
                            <option>Alabama</option>
                        </select>
                    </div>
                    <div class="table-thing widget uib_w_18 d-margins" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="narrow-control label-inline">Via</label>
                        <select class="wide-control form-control default">
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>West Sea</option>
                        </select>
                    </div>
                    <fieldset class="widget uib_w_15 d-margins" data-uib="twitter%20bootstrap/radio_group" data-ver="1" data-child-name="bs-radio-group-1">
                        <label class="radio radio-padding-left widget uib_w_16" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-1">Cab Now</label>
                        <label class="radio radio-padding-left widget uib_w_17" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-1">Cab later</label>
                    </fieldset>
                    <button class="btn widget uib_w_19 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='bookPage2()'><i class="glyphicon glyphicon-pushpin button-icon-left" data-position="left" ></i>Book Now</button>
                </div>
            </div>

        </div>