<div class="upage" id="booking-page-2">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_28" data-uib="layout/header" data-ver="0">
                    <h2>Car Booking</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button class="btn widget uib_w_29 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1">Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col left">
                    <div class="table-thing widget uib_w_20 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Passanger Number</label>
                        <input class="wide-control form-control default" type="range" min ="100" max="500" step ="50" value ="100"/>
                    </div>
                    <div class="table-thing widget uib_w_21 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Luggage Number</label>
                        <input class="wide-control form-control default" type="range" min ="100" max="500" step ="50" value ="100"/>
                    </div>
                    <div class="table-thing widget uib_w_22 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Child Seat</label>
                        <input class="wide-control form-control default" type="range" min ="100" max="500" step ="50" value ="100"/>
                    </div>
                    <div class="table-thing widget uib_w_23 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Vehicle Type</label>
                        <input class="wide-control form-control default" type="range" min ="100" max="500" step ="50" value ="100"/>
                    </div>
                    <div class="table-thing widget uib_w_24 d-margins" data-uib="twitter%20bootstrap/text_area" data-ver="1">
                        <label class="narrow-control"></label>
                        <textarea rows="3" class="wide-control form-control" wrap="soft" placeholder="Comment for the booking"></textarea>
                    </div>
                    <button class="btn widget uib_w_25 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-ok-sign button-icon-left" data-position="left"></i>Submit</button>
                </div>
            </div>
        </div>
