<div class="upage" id="login-page">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_8" data-uib="layout/header" data-ver="0">
                    <h2>Sign in</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        
                        <button ng-click='home()' class="btn widget uib_w_9 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back
                        </button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <form ng-submit="login()" class="upage-content content-area vertical-col left" id="page_67_10" novalidate>
                    <div class="table-thing widget uib_w_10 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Email</label>
                        <input class="wide-control form-control default" type="email" placeholder="email" name="email" ng-model="email" required>
                    </div>
                    <div class="table-thing widget uib_w_11 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Password</label>
                        <input class="wide-control form-control default" type="password" placeholder="password" ng-model="password" required>
                    </div>
                    <button class="btn widget uib_w_12 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-expand button-icon-left" data-position="left"></i>Login</button>
                </form>
            </div>
        </div>  