
<div class="upage" id="booking-page-1" style="z-index: 1000">    
            <div class="upage-outer" id='upage-outer'>
                <div class="uibv-header header-bg container-group inner-element uib_w_111" data-uib="layout/header" data-ver="0">
                    <h2>Book a Cab</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left"></div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col" id="page_54_60">
                    <div class="table-thing widget uib_w_112 d-margins dropdown-field-alignment border-hidden bottom-margin text-color" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="label-inline width-align">From</label>
                        <div class="form-control default">
<!--    <img src="http://static4.wikia.nocookie.net/__cb20131121214007/destinypedia/images/7/71/Information_Icon.svg"  ng-click='showMap("from")'>-->
                            <i class="glyphicon glyphicon-search button-icon-left" data-position="left" ng-click='showMap("from")'></i>
    <input type="text" id="from" ng-model="currLocation" ng-init="currLocation='loading....'" value="loading...."> 
</div>
                            </div>
                        
                    </div>
                
                    <div class="table-thing widget uib_w_113 d-margins dropdown-field-alignment border-hidden text-color" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="label-inline width-align">To</label>
                        <div class="form-control default">
<!--    <img src="http://static4.wikia.nocookie.net/__cb20131121214007/destinypedia/images/7/71/Information_Icon.svg" ng-click='showMap("to")'>-->
                             <i class="glyphicon glyphicon-search button-icon-left" data-position="left" ng-click='showMap("to")'></i>
    <input type="text" id="to" ng-model="toLocation"> 
</div>
                    </div>
                
                    <div class="sbs-container widget uib_w_114 d-margins text-color" data-uib="layout/side_by_side" data-ver="0">
                        <div class="leftContent widget-container text-color">
                            <label class="checkbox checkbox-padding-left widget uib_w_115 d-margins" data-uib="twitter%20bootstrap/checkbox" data-ver="1">
                                <input type="checkbox">Add To Favorite</label>
                        </div>
                        <div class="rightContent widget-container text-color">
                            <label class="checkbox checkbox-padding-left widget uib_w_116 d-margins" data-uib="twitter%20bootstrap/checkbox" data-ver="1">
                                <input type="checkbox" ng-model="returnreturnval.value">Return</label>
                        </div>
                    </div>
                
                    <div class="table-thing widget uib_w_117 d-margins dropdown-field-alignment border-hidden text-color" data-uib="twitter%20bootstrap/select" data-ver="1">
                        <label class="label-inline width-align">Via</label>
                       <div class="form-control default">
<!--    <img src="http://static4.wikia.nocookie.net/__cb20131121214007/destinypedia/images/7/71/Information_Icon.svg" alt="" ng-click='showMap("via")'>-->
                           <i class="glyphicon glyphicon-search button-icon-left" data-position="left" ng-click='showMap("via")'></i>
    <input type="text" id="via" ng-model="viaLocation"> 
</div>
                    </div>
                    <fieldset class="widget uib_w_118 d-margins text-color" data-uib="twitter%20bootstrap/radio_group" data-ver="1" data-child-name="bs-radio-group-3">
                        <label class="radio radio-padding-left widget uib_w_119" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-3" ng-model='user' ng-value="true" ng-click='toggleDatePicker()' checked>Cab Now</label>
                        <label class="radio radio-padding-left widget uib_w_120" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-3" ng-model='user' ng-value="false" ng-click='toggleDatePicker()'>Cab Later</label>
                    </fieldset>
                    <div class="sbs-container widget uib_w_121 d-margins" data-uib="layout/side_by_side" data-ver="0">
                        <div class="leftContent widget-container">
                            <div class="table-thing widget uib_w_122 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                                <input class="wide-control form-control default" type="datetime-local" placeholder="Placeholder" ng-hide="val" style="background-color:transparent; color: white;" ng-model='datePicker'>
                            </div>
                        </div>
                        <div class="rightContent widget-container"></div>
                    </div>
                    <div class="text-color">
                    <label class="checkbox checkbox-padding-left widget uib_w_123 d-margins" data-uib="twitter%20bootstrap/checkbox" data-ver="1">
                        <input type="checkbox">Family Trip</label>
                    </div>
                    <button class="btn widget uib_w_124 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:transparent;" ng-click='bookPage2()'><i class="glyphicon glyphicon-pencil button-icon-left" data-position="left"></i>Book Now</button>
                </div>
            </div>
        
<div id="modal">
    <div class="modal-content">
        <div class="copy">
             <div id="map_canvas" style="width:100%; height:300px;"></div>
        </div>
            <div class="cf footer">
                <a class="btn" ng-click="hideMap()">Close</a>
            </div>
    </div>
    <div class="overlay"></div>
    
</div>