<div class="upage" id="booking-page-2">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_28" data-uib="layout/header" data-ver="0">
                    <h2>Car Booking</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button class="btn widget uib_w_29 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='bookpage1()' style="background-color:transparent; color: white;">Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <form oninput="passanger.value=passengerRangeInput.value; luggage.value=luggageRangeInput.value;child.value=childRangeInput.value " class="upage-content content-area vertical-col left">
                    <div class="table-thing widget uib_w_20 d-margins range-slider-margin text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="label-inline width-align ">Passanger</label>
                       
                        <!--<input id="passengerRangeInput" name="passengerRangeInput" type="range" min ="1" max="30" step ="1" value="1" class="custom"/>
                        <output name="passanger" for="passengerRangeInput" style="color: white">1</output>-->
                        
                         <select class="form-control default" style="background-color:transparent; color: white;">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            
                        </select>
                    </div>
                    
                    <div class="table-thing widget uib_w_21 d-margins range-slider-margin text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="label-inline width-align"  >Luggage</label>
                         <select class="form-control default" style="background-color:transparent; color: white;">
                            <option selected>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            
                        </select>
                        <!--<input id="luggageRangeInput" name="luggageRangeInput" type="range" min ="0" max="20" step ="1" value ="0"/>
                         <output name="luggage" for="luggageRangeInput" style="color: white">0</output>-->
                    </div>
                    <div class="table-thing widget uib_w_22 d-margins range-slider-margin text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="label-inline width-align">Child Seat</label>
                        <select class="form-control default" style="background-color:transparent; color: white;">
                            <option selected>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            
                        </select>
<!--                        <input id="childRangeInput" name="childRangeInput" type="range" min ="0" max="20" step ="1" value ="0"/>
                        <output name="child" for="childRangeInput" style="color: white">0</output>-->
                    </div>
                    <div class="table-thing widget uib_w_23 d-margins range-slider-margin text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="label-inline width-align ">Vehicle Type</label>
                        <select class="form-control default" style="background-color:transparent; color: white;">
                            <option>Sedan</option>
                            <option>7 Seater</option>
                            <option>SUV</option>
                        </select>
                    </div>
                    <div class="table-thing widget uib_w_24 d-margins" data-uib="twitter%20bootstrap/text_area" data-ver="1">
                        <label class="narrow-control"></label>
                        <textarea rows="3" class="wide-control form-control" wrap="soft" placeholder="Comment for the booking" style="background-color:transparent; color: white;"></textarea>
                    </div>
                    <button class="btn widget uib_w_25 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='registerPage()' style="background-color:rgba(0,0,0,0.7); color: white;"><i class="glyphicon glyphicon-ok-sign button-icon-left" data-position="left"></i>Submit</button>
                </form>
            </div>
        </div>
