
<ol class="rectangle-list">
    <li id='fromlist'><a href="" ng-model='fromLocation'>{{fromLocation}}</a></li>
    <li id='tolist'><a href="" ng-model='toLocation'>{{toLocation}}</a></li>
    <li id='vialist'><a href="" ng-model='viaLocation'>{{viaLocation}}</a>
        
    </li>                     
</ol>

<button ng-click="submitBooking()">Submit</button>

