<div class="upage" id="cab-details-page">
            <div class="upage-outer content-area vertical-col left">
                <div class="uib-header header-bg container-group inner-element uib_w_33" data-uib="layout/header" data-ver="0">
                    <h2>Quotes</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left"></div>
                    <div class="widget-container content-area horiz-area wrapping-col right"> <button class="btn widget uib_w_110 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='logout()' style="background-color:transparent; color: white;"><i class="glyphicon glyphicon-remove-circle button-icon-left" data-position="left"></i>Log Out</button></div>
                </div>
                <div class="btn-group uib-bs-flex widget uib_w_34 d-margins" data-uib="twitter%20bootstrap/button_group" data-ver="1">
                    <button class="btn widget uib_w_35 btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" autofocus ng-click="showCheapest()" style="background-color:transparent; color: white;">Cheapest</button>
                    <button class="btn widget uib_w_36 btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click="showQuickest()" style="background-color:transparent; color: white;">Quickest</button>
                    <button class="btn widget uib_w_37 btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click="showExpensive()" style="background-color:transparent; color: white;">Expensive</button>
                    <button class="btn widget uib_w_38 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click="showRatingOrder()" style="background-color:transparent; color: white;">By Rating</button>
                </div>

                <div id="cheapest-page" class="upage-content vertical-col" ng-hide='cheapest'>

                    <div class="list-group widget uib_w_39 d-margins" data-uib="twitter%20bootstrap/list_group" data-ver="1">
                        <a class="list-group-item allow-badge widget uib_w_40" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">12</span>
                            <h4 class="list-group-item-heading" style="color:white;">Green Tomato</h4>
                            <p class="list-group-item-text">7 Mins</p>
                        </a>
                        <a class="list-group-item allow-badge widget uib_w_41" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">10</span>
                            <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Volvo</h4>
                            <p class="list-group-item-text">8 Mins</p>
                        </a>
                        <a class="list-group-item allow-badge widget uib_w_42" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">15</span>
                            <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Janata Car</h4>
                            <p class="list-group-item-text">7 Mins</p>
                        </a>
                        <a class="list-group-item allow-badge widget uib_w_43" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">20</span>
                            <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Noah</h4><p class="list-group-item-text">5 Mins</p></a>
                    </div>
                </div>
            </div>
            <div id="quickest-page" class="upage-content vertical-col" ng-hide='quickest'>

                <div class="list-group widget uib_w_44 d-margins" data-uib="twitter%20bootstrap/list_group" data-ver="1">
                    <a class="list-group-item allow-badge widget uib_w_45" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">8</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Baizre</h4>
                        <p class="list-group-item-text">3 Mins</p>
                    </a>
                    <a class="list-group-item allow-badge widget uib_w_46" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">10</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Amada</h4>
                        <p class="list-group-item-text">4 Mins</p>
                    </a>
                    <a class="list-group-item allow-badge widget uib_w_47" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">15</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Jaguar</h4>
                        <p class="list-group-item-text">5 Mins</p>
                    </a>
                </div>
            </div>
            <div id="expensive-page" class="upage-content vertical-col" ng-hide='expensive'>
                <div class="list-group widget uib_w_48 d-margins" data-uib="twitter%20bootstrap/list_group" data-ver="1">
                    <a class="list-group-item allow-badge widget uib_w_49" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">25</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Porche</h4>
                        <p class="list-group-item-text">10 Mins</p>
                    </a>
                    <a class="list-group-item allow-badge widget uib_w_50" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">30</span>
                        
                        
                    <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Toyota</h4><p class="list-group-item-text">8 Mins</p></a>
                    <a class="list-group-item allow-badge widget uib_w_51" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">40</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Suzuki</h4>
                        
                    <p class="list-group-item-text">10 Mins</p></a>
                </div>
            </div>
            <div id="rating-order-page" class="upage-content vertical-col" ng-hide='ratingOrder'>

                <div class="list-group widget uib_w_52 d-margins" data-uib="twitter%20bootstrap/list_group" data-ver="1">
                    <a class="list-group-item allow-badge widget uib_w_53" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">40</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Toyota * * * * * * * * * * </h4>
                        <p class="list-group-item-text">10 Mins</p>
                    </a>
                    <a class="list-group-item allow-badge widget uib_w_54" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">20</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Noah * * * * * * * *</h4>
                        <p class="list-group-item-text">7 Mins</p>
                    </a>
                    <a class="list-group-item allow-badge widget uib_w_55" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/payment" style="background-color: transparent; color:white;"><span class="badge glyphicon glyphicon-gbp">30</span>
                        <h4 class="list-group-item-heading" style="background-color: transparent; color:white;">Porche * * * * * * * </h4>
                        <p class="list-group-item-text">6 Mins</p>
                    </a>

                </div>
            </div>
        </div>