<div class="upage" id="rating-page">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_98" data-uib="layout/header" data-ver="0">
                    <h2>Driver Rating</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button class="btn widget uib_w_99 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color: transparent; color:white;" ng-click="titlePage()">Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col">
                    <div class="table-thing widget uib_w_100 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1" style="margin-top: 10px; color:white;">
                        <label class="narrow-control label-inline">Punctuality</label>
                        <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
</div>
                    </div>
                    <div class="table-thing widget uib_w_101 d-margins rating" data-uib="twitter%20bootstrap/input" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Cleanliness</label>
                        <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="table-thing widget uib_w_102 d-margins rating" data-uib="twitter%20bootstrap/input" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Friendliness</label>
                        <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="table-thing widget uib_w_103 d-margins rating" data-uib="twitter%20bootstrap/input" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Road Knowledge</label>
                       <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="table-thing widget uib_w_104 d-margins rating" data-uib="twitter%20bootstrap/input" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Service</label>
                        <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="table-thing widget uib_w_105 d-margins rating" data-uib="twitter%20bootstrap/input" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Value For Money</label>
                        <div class="wide-control form-control default rating" style="border-style:hidden; background-color: transparent; color:white;">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                    </div>
                    <div class="table-thing widget uib_w_106 d-margins" data-uib="twitter%20bootstrap/text_area" style="margin-top: 10px; color:white;" data-ver="1">
                        <label class="narrow-control label-inline">Comment</label>
                        <textarea rows="2" class="wide-control form-control" wrap="soft" placeholder="Placeholder" style="color:white; background-color: transparent;"></textarea>
                    </div>
                    <button class="btn widget uib_w_107 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="margin-top: 10px; background-color: transparent; color:white;">Submit</button>
                </div>
            </div>
        </div>
