 <div class="upage" id="form-title">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_94" data-uib="layout/header" data-ver="0">
                    <h2>Driver Location</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                     <button class="btn widget uib_w_97 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:transparent; color: white;" ng-click="paymentPage()">Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col left">
                    <button class="btn widget uib_w_95 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click="showMap()" style="background-color:transparent; color: white;">Track Your Taxi/Driver</button>
                    <div class="widget uib_w_96 scale-image d-margins angular-google-map-container" data-uib="media/img" data-ver="0">
                        <div  ng-init='currLocation = "loading......"' style="color:white; background-color: transparent; height:50px; width: 100%;">Current Location: {{ currLocation }}</div>
<div id="map_canvas" style="width:100%; height:250px;"></div>
                    </div>
                     <div class="widget uib_w_108 scale-image d-margins driver-img" data-uib="media/img" data-ver="0">
                        <figure class="figure-align">
                            <img src="images/images.jpg" id="driver-image" ng-hide="options.one.selected">
                            <figcaption data-position="bottom"></figcaption>
                        </figure>
                    </div>
                    <label class="checkbox checkbox-padding-left widget uib_w_109 d-margins" data-uib="twitter%20bootstrap/checkbox" data-ver="1" style="background-color: transparent; color:white;">
                        <input type="checkbox"ng-click="options.one.selected=!options.one.selected"
        ng-checked="!options.one.selected"
        ng-model="options.one.selected" checked>Check To View Drivers photo</label>
                </div>
                <button ng-click="ratingPage()" style="background-color:transparent; color: white;">Rate Your Driver</button>
            </div>
        </div>