<div id='live_track' style="width:100%; height: 500px;"></div>
<div ng-model='acceptedJobs' style="color: white;">
    <div ng-if="acceptedJobs ==undefined">Loading Booking List.......</div> 
    <div ng-if="acceptedJobs !=undefined">

    <div  ng-repeat="items in acceptedJobs">

    <div>{{items.from_location}} to {{items.to_location}}</div>
    </div>
    </div>
</div>

