<div class="upage" id="login-page">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_8" data-uib="layout/header" data-ver="0">
                    <h2>Sign in</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        
                        <button ng-click='registerPage()' class="btn widget uib_w_9 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:transparent;"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back
                        </button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <form ng-submit="login()" class="upage-content content-area vertical-col left" id="page_67_10" novalidate>
                    <div class="table-thing widget uib_w_10 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-envelope button-icon-left btn-lg" style="left: 40px; top: -4px;" data-position="left"></i></label>
                        <input class="wide-control form-control default" type="email" placeholder="Email" name="email" ng-model="email" style="background-color:transparent; color: white;" required>
                    </div>
                    <div class="table-thing widget uib_w_11 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-lock button-icon-left btn-lg" style="left: 40px; top: -4px;" data-position="left"></i></label>
                        <input class="wide-control form-control default" type="password" placeholder="Password" ng-model="password" style="background-color:transparent; color: white;" required>
                    </div>
                    <button class="btn widget uib_w_12 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:rgba(0,0,0,0.5);"><i class="glyphicon glyphicon-expand button-icon-left" data-position="left"></i>Login</button>
                </form>
            </div>
        </div>  