<div class="upage" id="payment-page">
            <div class="upage-outer">
                <div class="uib-header header-bg container-group inner-element uib_w_57" data-uib="layout/header" data-ver="0">
                    <h2>Make Payment</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button ng-click='detailPage()' class="btn widget uib_w_65 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:transparent; color: white;"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content content-area vertical-col" id="page_73_5">
                    <div class="table-thing widget uib_w_56 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Promo Code</label>
                        <input class="wide-control form-control default" type="text" placeholder="FnF points or miles earned" style="background-color:transparent; color: white;">
                    </div>

                    <div class="well no_wrap  widget uib_w_58 d-margins booking-summaries-height" data-uib="twitter%20bootstrap/well" data-ver="1">
                        <div class="col uib_col_4 single-col" data-uib="layout/col" data-ver="0"><span>Booking Summaries: </span>
                            <div class="widget-container content-area vertical-col"><span>E13 0SG to SE59Bl</span>
                                <br><span>Cost $25 distance 8 miles</span>

                                <button class="btn widget uib_w_59 d-margins payment-button btn-sm btn-default amend-booking-margins" data-uib="twitter%20bootstrap/button" data-ver="1" >Amend Booking</button><span class="uib_shim"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p style="color: white">How would u like to pay</p>
                    </div>
                    <fieldset class="widget uib_w_60 d-margins text-color" data-uib="twitter%20bootstrap/radio_group" data-ver="1" data-child-name="bs-radio-group-0" style="background-color:transparent; color: white;">
                        <label class="radio radio-padding-left widget uib_w_61" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-0">Cash</label>
                        <label class="radio radio-padding-left widget uib_w_62" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-0">Card</label>
                        <label class="radio radio-padding-left widget uib_w_63" data-uib="twitter%20bootstrap/radio_button" data-ver="1">
                            <input type="radio" name="bs-radio-group-0">Paypal</label>
                    </fieldset>
                    <button class="btn widget uib_w_64 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='formTitlePage()' style="background-color:transparent; color: white;">Submit</button>
                </div>
            </div>
        </div>