        <div class="upage register-page-header" id="register-page">

            <div class="upage-outer">
                <div class="uib-header container-group inner-element uib_w_1" data-uib="layout/header" data-ver="0">
                    <h2>Sign Up</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button ng-click='bookingPage()' class="btn widget uib_w_6 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" style="background-color:transparent;"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <form class="upage-content content-area vertical-col" ng-submit="register()" name="form" novalidate>
                    <div class="table-thing widget uib_w_2 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-user button-icon-left btn-lg" data-position="left" style="left: 40px; top: -4px;"></i></label>
                        <input class="wide-control form-control default" type="text" name="name" ng-model="name" placeholder="Name" style="background-color:transparent; color: white;"  required>
                    </div>
                    <div class="table-thing widget uib_w_3 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-envelope button-icon-left btn-lg" style="left: 40px; top: -4px;" data-position="left"></i></label>
                        <input class="wide-control form-control default" type="email" name="email" ng-model="email" placeholder="Email" style="background-color:transparent; color: white;" required>
                    </div>
                    <div class="table-thing widget uib_w_4 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-lock button-icon-left btn-lg" style="left: 40px; top: -4px;" data-position="left"></i></label>
                        <input class="wide-control form-control default" type="password" name="password" ng-model="password" placeholder="Password" ng-minlength='3' style="background-color:transparent; color: white;" required>
                        <p class="showerror" ng-show='form.password.$error.minlength || form.password.$invalid'>
    </p>
                    </div>
                    <div class="table-thing widget uib_w_5 d-margins text-color" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline"><i class="glyphicon glyphicon-phone button-icon-left btn-lg" style="left: 40px; top: -4px;" data-position="left"></i></label>
                        <input class="wide-control form-control default" type="number" name="mobile" ng-model="mobile" placeholder="Mobile" style="background-color:transparent; color: white;" required>
                    </div>
                    <button class="btn widget uib_w_7 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-disabled='form.$invalid' style="background-color:rgba(0,0,0,0.8);"><i class="glyphicon glyphicon-check button-icon-left" data-position="left"></i>Submit</button>
                    
                </form>
                <button class="btn widget uib_w_32 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-click='loginPage()' style="background-color:rgba(0,0,0,0.6);"><i class="glyphicon glyphicon-pushpin button-icon-left" data-position="left"></i>Already have an account</button>
            </div>
        </div>         
            