@media all {
.wrapping-col > .header_btn_margin,
.wrapping-col > .afScrollPanel > .header_btn_margin {  margin-left:60px;
  margin-right:60px;
}

.wrapping-col > .header_btn_margin,
.wrapping-col > .afScrollPanel > .header_btn_margin {  margin-left:60px;
  margin-right:60px;
}

}

