@media all {
.wrapping-col > .login-margins,
.wrapping-col > .afScrollPanel > .login-margins {  margin-left:26px;
  margin-right:6px;
}

.wrapping-col > .login-margins,
.wrapping-col > .afScrollPanel > .login-margins {  margin-left:26px;
  margin-right:6px;
}

.login-margins {  margin-top:60px;
}

}

