@media all {
.card-dim .card-header { height:40px; }
.card-dim .card-footer { height:50px; }
.card-dim .card-left { width:40px; }
.card-dim .card-right { width:50px; }
.card-dim {min-height:100px}
div.card-dim.header-on-left .card-left   { top:40px; }
div.card-dim.header-on-left .card-header { left:0px; }
div.card-dim.left-on-header .card-left { top:0px; }
div.card-dim.left-on-header .card-header { left:40px; }
div.card-dim.header-on-right .card-right   { top:40px; }
div.card-dim.header-on-right .card-header { right:0px; }
div.card-dim.right-on-header .card-right { top:0px; }
div.card-dim.right-on-header .card-header { right:50px; }
div.card-dim.footer-on-left .card-left   { bottom:50px; }
div.card-dim.footer-on-left .card-footer { left:0px; }
div.card-dim.left-on-footer .card-left { bottom:0px; }
div.card-dim.left-on-footer .card-footer { left:40px; }
div.card-dim.footer-on-right .card-right   { bottom:50px; }
div.card-dim.footer-on-right .card-footer { right:0px; }
div.card-dim.right-on-footer .card-right { bottom:0px; }
div.card-dim.right-on-footer .card-footer { right:50px; }
.card-dim.cpad-1 { padding: 40px 0px 0px 0px; }
.card-dim.cpad-1 > .widget-divider:only-of-type { position:absolute; top:40px; right:0px; bottom:0px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-8 { padding: 0px 50px 0px 0px; }
.card-dim.cpad-8 > .widget-divider:only-of-type { position:absolute; top:0px; right:50px; bottom:0px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-9 { padding: 40px 50px 0px 0px; }
.card-dim.cpad-9 > .widget-divider:only-of-type { position:absolute; top:40px; right:50px; bottom:0px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-4 { padding: 0px 0px 50px 0px; }
.card-dim.cpad-4 > .widget-divider:only-of-type { position:absolute; top:0px; right:0px; bottom:50px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-5 { padding: 40px 0px 50px 0px; }
.card-dim.cpad-5 > .widget-divider:only-of-type { position:absolute; top:40px; right:0px; bottom:50px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-12 { padding: 0px 50px 50px 0px; }
.card-dim.cpad-12 > .widget-divider:only-of-type { position:absolute; top:0px; right:50px; bottom:50px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-13 { padding: 40px 50px 50px 0px; }
.card-dim.cpad-13 > .widget-divider:only-of-type { position:absolute; top:40px; right:50px; bottom:50px; left:0px;  height:auto !important; width:auto !important; }
.card-dim.cpad-2 { padding: 0px 0px 0px 40px; }
.card-dim.cpad-2 > .widget-divider:only-of-type { position:absolute; top:0px; right:0px; bottom:0px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-3 { padding: 40px 0px 0px 40px; }
.card-dim.cpad-3 > .widget-divider:only-of-type { position:absolute; top:40px; right:0px; bottom:0px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-10 { padding: 0px 50px 0px 40px; }
.card-dim.cpad-10 > .widget-divider:only-of-type { position:absolute; top:0px; right:50px; bottom:0px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-11 { padding: 40px 50px 0px 40px; }
.card-dim.cpad-11 > .widget-divider:only-of-type { position:absolute; top:40px; right:50px; bottom:0px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-6 { padding: 0px 0px 50px 40px; }
.card-dim.cpad-6 > .widget-divider:only-of-type { position:absolute; top:0px; right:0px; bottom:50px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-7 { padding: 40px 0px 50px 40px; }
.card-dim.cpad-7 > .widget-divider:only-of-type { position:absolute; top:40px; right:0px; bottom:50px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-14 { padding: 0px 50px 50px 40px; }
.card-dim.cpad-14 > .widget-divider:only-of-type { position:absolute; top:0px; right:50px; bottom:50px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-15 { padding: 40px 50px 50px 40px; }
.card-dim.cpad-15 > .widget-divider:only-of-type { position:absolute; top:40px; right:50px; bottom:50px; left:40px;  height:auto !important; width:auto !important; }
.card-dim.cpad-0 { padding: 0px 0px 0px 0px; }
.card-dim.cpad-0 > .widget-divider:only-of-type { position:absolute; top:0px; right:0px; bottom:0px; left:0px;  height:auto !important; width:auto !important; }
}

