.dropdown-field-alignment {
                width: 320px;
                border: 1px solid #000;
                padding: 0;
                margin: 0;
               
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }