@media all {
.payment-button { -webkit-flex: 1 1 auto !important; -moz-flex: 1 1 auto !important; -ms-flex: 1 1 auto !important; -o-flex: 1 1 auto !important; flex: 1 1 auto !important;   width:120px;
  min-width:70px;
  max-width:120px;
}

}

