/*
	.rating > .narrow-control - affects control label
	.rating > .wide-control - affects input
*/
.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.4em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
  color: black;
}
.rating > span:target{

color: black;
}