@media all {
.app-bg { background-image:url("../images/minimalistic-pattern-textures-backgrounds-2560x1600-wallpaper_www.wallpaperhi.com_96.jpg");
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
 }
}

