<div class="upage vertical-col left" id="detail_page" ng-model="itemdetails">
    <a href="#/list">
            <button class="btn widget uib_w_21 d-margins button-width btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-arrow-left"></i>
                 
            </button></a>
    <h1>{{food[whichItem].name}}</h1>
       
        </div>
