  <div class="table-thing widget uib_w_21 d-margins search-box" data-uib="twitter%20bootstrap/input" data-ver="1">
                                    <label class="narrow-control label-inline">Search</label>
                                    <input class="wide-control form-control default" type="text" ng-model="query" placeholder="Search Reviews">
                                    <label>by:
                                        <select ng-model="restaurantOrder">
                                            <option value="name">Name</option>
                                            <option value="itemName">Item</option>
                                        </select>
                                    </label>
                                </div>

<div class="list-group widget uib_w_21 d-margins" data-uib="twitter%20bootstrap/list_group" data-ver="1"  ng-repeat="item in food | filter: query | orderBy: restaurantOrder" style="margin-right: 40px; margin-left: 30px; z-index: 100;top:-30px ">
                                    <a class="list-group-item allow-badge widget uib_w_22" data-uib="twitter%20bootstrap/list_item" data-ver="1" href="#/reviewdetails/{{food.indexOf(item)}}">
                                        <h4 class="list-group-item-heading">{{item.name}}</h4>
                                        <p class="list-group-item-text">{{item.itemName}}</p>
                                    </a>

                                </div>