<ion-header-bar class="bar bar-header bar-dark">
   
    <ion-nav-title>
      <img src="images/Logo.png">
    </ion-nav-title>
    
</ion-header-bar>
    <div class="bar bar-subheader bar-dark">
  <h2 class="title">Sub Header</h2>
</div>
