<ion-nav-view name="help">
<ion-view title="Help">
        <ion-content padding="true">
           <h2>Hahaaha</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis architecto hic officia quasi excepturi sequi deleniti maiores consectetur veritatis sint?</p>
            <div class="upage vertical-col" id="auth-btn-page">
            <button ng-click='loginPage()' class="btn widget uib_w_30 d-margins btn-lg btn-default" data-uib="twitter%20bootstrap/button" data-ver="1">Login</button>
            <button ng-click='registerPage()' class="btn widget uib_w_31 d-margins btn-lg btn-default" data-uib="twitter%20bootstrap/button" data-ver="1">Registration</button>
        </div>
    </ion-content>
</ion-view>
</ion-nav-view>