<ion-view title="Home" class="row" style='z-index:100;'>  
      <ion-content>
          <div ng-model='currentJobList'>
              <h1>Current Job</h1>
              <div ng-if="currentJobList ==undefined">No current Job available</div> 
              <div ng-if="currentJobList !=undefined">
          
           <ion-item ng-repeat="items in currentJobList">
            <a ui-sref="detail({ fromLoc:items.from_location, toLoc:items.to_location, viaLoc:items.via_location, fromLat:items.from_latitude, fromLong: items.from_longitude, toLat: items.to_latitude, toLong: items.to_longitude, vialat: items.via_latitude, viaLong: items.via_longitude})">
            <div>{{items.from_location}} to {{items.to_location}}</div> 
                
            </a>
          </ion-item>
                  </div>
          </div>
          <ion-list>
          <!-- for accepted requisition list-->
                <div ng-model='accepted'>
          <ion-item class="item-stable"
                    ng-click="toggleGroup('accepted')"
                    ng-class="{active: accepted}">
              <i class="icon" ng-class="accepted ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Accepted <span class="notification"> {{acceptedList.length}} </span>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="items in acceptedList"
                    ng-show="accepted">
            <a ui-sref="detail({ fromLoc:items.from_location, toLoc:items.to_location, viaLoc:items.via_location, fromLat:items.from_latitude, fromLong: items.from_longitude, toLat: items.to_latitude, toLong: items.to_longitude, vialat: items.via_latitude, viaLong: items.via_longitude})">
            <div>{{items.from_location}} to {{items.to_location}}</div> 
            </a>
              <button ng-click='onTheWay(items.requisition_id, acceptedList, $index)'>On the way</button>
          </ion-item>
        </div>  
      </ion-list>

      <ion-list>
        <div ng-model='assigned'>
          <ion-item class="item-stable"
                    ng-click="toggleGroup('assigned')"
                    ng-class="{active: assigned}">
              <i class="icon" ng-class="assigned ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Assigned <span class="notification">{{requisition.length}}</span>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in requisition"
                    ng-show="assigned">
            <a ui-sref="detail({ fromLoc:item.from_location, toLoc:item.to_location, viaLoc:item.via_location, fromLat:item.from_latitude, fromLong: item.from_longitude, toLat: item.to_latitude, toLong: item.to_longitude, vialat: item.via_latitude, viaLong: item.via_longitude})">
            <div>{{item.from_location}} to {{item.to_location}}</div> 
            </a>
              <button ng-click='accept(item.requisition_id, requisition, $index)'>Accept</button>
          </ion-item>
        </div>
        </ion-list>
          
    </ion-content> 
    
    
    
   <!-- <div class="row responsive-sm">
        <div class="col" ng-repeat="item in requisition">
            <a ui-sref="detail({ fromLoc:item.from_location, toLoc:item.to_location, viaLoc:item.via_location, fromLat:item.from_latitude, fromLong: item.from_longitude, toLat: item.to_latitude, toLong: item.to_longitude, vialat: item.via_latitude, viaLong: item.via_longitude})">
            <div>{{item.from_location}} to {{item.to_location}} tolat: {{item.to_latitude}} vialat: {{item.via_latitude}}</div> 
            </a>
            <button ng-click='accept(item.requisition_id)'>Accept</button>
        </div>
        <button ng-click='showMap()'>Detail</button>
    </div>-->
</ion-view>
