<ion-view title="Sign IN">
    <ion-content padding="true">
        <h1>AysoCabita Driver</h1>
        <form ng-submit="login()" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-init='login.email="u@d.com"'  name="email" ng-model="login.email" required>
                </label>
                <label class="item item-input">
                    <input type="password" name="password" ng-init='login.password=1234' placeholder="Password" ng-model="login.password" required>
                </label>
                <button type="submit" class="button button-block button-stable">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>