        <div class="upage register-page-header" id="register-page">

            <div class="upage-outer">
                <div class="uib-header container-group inner-element uib_w_1" data-uib="layout/header" data-ver="0">
                    <h2>Sign Up</h2>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left">
                        <button ng-click='home()' class="btn widget uib_w_6 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-chevron-left button-icon-left" data-position="left"></i>Back</button>
                    </div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <form class="upage-content content-area vertical-col" ng-submit="register()" name="form" novalidate>
                    <div class="table-thing widget uib_w_2 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Name</label>
                        <input class="wide-control form-control default" type="text" name="name" ng-model="name" placeholder="Name" required>
                    </div>
                    <div class="table-thing widget uib_w_3 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Email</label>
                        <input class="wide-control form-control default" type="email" name="email" ng-model="email" placeholder="Email" required>
                    </div>
                    <div class="table-thing widget uib_w_4 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Password</label>
                        <input class="wide-control form-control default" type="password" name="password" ng-model="password" placeholder="type password" ng-minlength='3' required>
                        <p class="showerror" ng-show='form.password.$error.minlength || form.password.$invalid'>
    </p>
                    </div>
                    <div class="table-thing widget uib_w_5 d-margins" data-uib="twitter%20bootstrap/input" data-ver="1">
                        <label class="narrow-control label-inline">Mobile</label>
                        <input class="wide-control form-control default" type="number" name="mobile" ng-model="mobile" placeholder="type mobile" required>
                    </div>
                    <button class="btn widget uib_w_7 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1" ng-disabled='form.$invalid'><i class="glyphicon glyphicon-check button-icon-left" data-position="left"></i>Submit</button>
                </form>
            </div>
        </div>         
            
            
            
            
<!--            
<form ng-submit="register()" name="form" novalidate>
    <legend>Registration</legend>
    <label>Name</label> 
    <input type="text" id="name" name="name" ng-model="name" placeholder="Name" required> 
     <label>Email</label> 
    <input type="text" id="email" name="email" ng-model="email" placeholder="Email" required>      
    <label>Password</label>
    <input type="password" id="pwd" name="password" ng-model="password" placeholder="type password" ng-minlength='3' required >
    <p class="showerror" ng-show='form.password.$error.minlength || form.password.$invalid'>
    </p>
    <label>Mobile</label>
    <input type="number" id="mobile" name="mobile" ng-model="mobile" placeholder="type mobile" required>            
    <button ng-disabled='form.$invalid' class="btn btn-primary">Sign Up</button>
</form>
    <button class="btn widget uib_w_10 d-margins btn-default" data-uib="twitter%20bootstrap/button" data-ver="1"><i class="glyphicon glyphicon-arrow-left button-icon-left" data-position="left"></i>Back</button>-->
        