<ion-view title="Detail">
    <div id="map_canvas" style="width:100%; height:300px;"></div>    
    <div>From: {{fromLocation}}</div> 
    <div>To: {{toLocation}}</div> 
    <div>Via: {{viaLocation}}</div> 
    
<button ng-click="backToHome()">Back</button>
        
</ion-view>